# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Entornos virtuales
.venv/
venv/
env/

# PyInstaller / builds
build/
dist/
*.spec

# Editores / IDE
.vscode/
.idea/
*.swp

# Sistema operativo
Thumbs.db
desktop.ini
.DS_Store

# OneDrive (evita mezclar archivos temporales de sincronización)
*.tmp
~$*
